/**
    background-color:  #dde144;     ACCENT LIME
    background-color:  #fb9b00;     ACCENT ORANGE
    background-color:  #282828;     GRAY DARK BG
    background-color:  #606060;     GRAY LIGHT BG
**/

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100%;
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
}

.logo {
    margin: 25px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.inside-content-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-field {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid transparent;
    display: block;
    width: 250px;
    transition: 0.2s;
}

.input-field:focus {
    border: 2px #fb9b00 solid;
}

.front {
    height: 100%;
    animation: fadein 1s;
    position: relative;
}

.btn {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 7px 10px;
    display: block;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #282828;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.btn:hover {
    background-color: #fb9b00;
}

.register-forgot-box {
    display: inline-block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.register-forgot-strings {
    color: white;
    font-style: italic;
    text-decoration: underline;
}

.login-info {
    margin-top: 5px;
    font-style: italic;
    color: lightgrey;
}