<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="appointmentScript.js"></script>
    <title>Add appointment</title>
</head>
<body>
    <section class="content">
        <nav>
            <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
            <a th:href="@{/home}" class="nav-element">Timetable</a>
            <a th:href="@{/clientList}" class="nav-element">Client List</a>
            <a th:href="@{/payments}" class="nav-element">Payments</a>
            <a th:href="@{/settings}" class="nav-element">Settings</a>
            <form th:action="@{/logout}" method="post">
                <input class="nav-element" type="submit" value="Log out"/>
            </form>
        </nav>

        <form th:action="@{/addAppointment}" method="POST">
            <input type="hidden" name="id" th:value="${param.id}"/>

            <div>Date<input type="date" class="input-field" name="date" required/></div>
            <div>Starting time<input type="time" class="input-field" name="startTime" required/></div>
            <div>Ending time<input type="time" class="input-field" name="endTime" required/></div>
            <div>Repeat weekly:<input type="checkbox" class="input-field" name="repeat"
                                      th:onchange="'javascript:showRepeatAmountField()'"/></div>
            <div id="hiddenRepeatAmount"></div>

            <div>Is a part of a cycle:<input type="checkbox" class="input-field" name="cycle"/></div>
            <div>Scheme: <select name="schemeId">
                <option th:each="scheme : ${schemeList}" th:value="${scheme.getId()}"
                        th:text="${scheme.getTitle()}"></option>
            </select></div>

            <button type="submit" class="btn-login btn-basic">APPOINT</button>

            <section class="login-info">
                <div th:if="${status}=='successful'">
                    Appointment has been set correctly!
                </div>
                <div th:if="${status}=='failed'">
                    <div th:text="${reason}"></div>
                </div>
            </section>
        </form>
    </section>
</body>
</html>