<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Add Client</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content">
        <h2>Add Client</h2>
        <br>

        <form th:action="@{/clientList/addClient}" method="post">
            <div><input type="text" class="input-field" name="name" placeholder="Name"/></div>
            <div><input type="text" class="input-field" name="surname" placeholder="Surname"/></div>
            <div><input type="text" class="input-field" name="gymName" placeholder="Gym name"/></div>
            <div><input type="text" class="input-field" name="goal" placeholder="Goal"/></div>
            <div><input type="text" class="input-field" name="condition" placeholder="Condition"/></div>
            <div><input type="number" class="input-field" name="phoneNumber" placeholder="Phone number"/></div>
            <br/>

            <div th:if="${status}=='failed'">
                <div th:text="${reason}"></div>
            </div>
            <button type="submit" class="btn-login btn-basic">ADD CLIENT</button>
        </form>
    </section>
</body>
</html>