<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="appointmentScript.js"></script>
    <title>Workout coach</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <div class="content" th:if="${status}=='failed'">
        <div th:text="${reason}"></div>
    </div>

    <div th:if="${appointment!=null}">
        <section class="content" th:method="GET">
            <div th:if="${error}=='true'">
                <div th:text="${reason}"></div>
            </div>

            <h1>Appointment</h1>
            <div th:if="${param.edit}==null or ${param.edit[0]}=='false'">
                <table>
                    <thead>
                    <th>Date</th>
                    <th>Starting time</th>
                    <th>Ending time</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gym name</th>
                    <th>Scheme</th>
                    <th>Paid</th>
                    <th>Cancelled</th>
                    </thead>
                    <tbody>
                    <td th:text="${#temporals.format(appointment.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(appointment.startDate, 'HH:mm')}"></td>
                    <td th:text="${#temporals.format(appointment.endDate, 'HH:mm')}"></td>
                    <td th:text="${appointment.client.name}"></td>
                    <td th:text="${appointment.client.surname}"></td>
                    <td th:text="${appointment.client.gymName}"></td>
                    <td th:text="${appointment.scheme.title}"></td>
                    <td th:text="${appointment.payment.isPaid}"></td>
                    <td th:text="${appointment.isCancelled}"></td>
                    </tbody>
                </table>
            </div>
            <div th:if="${param.edit}!=null and ${param.edit[0]}=='true'">
                <form th:action="@{/appointmentPage/edit}" method="post">
                    <table>
                        <thead>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Gym name</th>
                        <th>Paid</th>
                        <th>Cancelled</th>
                        </thead>
                        <tbody>
                        <td style="text-align: center" th:text="${appointment.client.name}"></td>
                        <td style="text-align: center" th:text="${appointment.client.surname}"></td>
                        <td style="text-align: center" th:text="${appointment.client.gymName}"></td>
                        <td style="text-align: center" th:text="${appointment.payment.isPaid}"></td>
                        <td style="text-align: center" th:text="${appointment.isCancelled}"></td>
                        </tbody>

                        <thead>
                        <th>Date</th>
                        <th>Starting time</th>
                        <th>Ending time</th>
                        <th>Scheme</th>
                        </thead>

                        <tbody>
                        <td><input type="date" name="date" id="date" class="input-field-small"
                                   th:value="${#temporals.format(appointment.startDate, 'yyyy-MM-dd')}"></td>
                        <td><input type="time" name="startTime" id="startingTime" class="input-field-small"
                                   th:value="${#temporals.format(appointment.startDate, 'HH:mm')}"></td>
                        <td><input type="time" name="endTime" id="endingTime" class="input-field-small"
                                   th:value="${#temporals.format(appointment.endDate, 'HH:mm')}"></td>
                        <td><select name="schemeId" class="input-field">\n' +
                            '
                            <option th:each="scheme : ${schemeList}" th:value="${scheme.getId()}"
                                    th:text="${scheme.getTitle()}">
                            </option>
                            \</select></td>
                        </tbody>

                    </table>
                    <br>
                    <input type="hidden" name="appointmentID" id="appointmentID4">
                    <script>document.getElementById('appointmentID4').value = window.getURLParameter('id');</script>
                    <button type="submit" th:href="@{/appointmentPage/edit}" id="submitButton" class="btn-basic">
                        SUBMIT
                    </button>
                </form>
            </div>
            <div th:if="${param.edit}==null or ${param.edit[0]}=='false'">
                <div th:if="${!appointment.isCancelled}">
                    <br>
                    <form th:action="@{/appointmentPage/cancel}" method="post">
                        <input type="hidden" name="appointmentID" id="appointmentID">
                        <script>document.getElementById('appointmentID').value = window.getURLParameter('id');</script>
                        <button type="submit" th:href="@{/cancel}" id="cancelButton" class="btn-basic">CANCEL
                            APPOINTMENT
                        </button>
                    </form>
                </div>

                <div th:if="${appointment.isCancelled}">
                    <br>
                    <form th:action="@{/appointmentPage/active}" method="post">
                        <input type="hidden" name="appointmentID" id="appointmentID2">
                        <script>document.getElementById('appointmentID2').value = window.getURLParameter('id');</script>
                        <button type="submit" th:href="@{/active}" id="activeButton" class="btn-basic">ACTIVATE
                            APPOINTMENT
                        </button>
                    </form>
                </div>
                <br>
                <form th:action="@{/appointmentPage/delete}" method="post">
                    <input type="hidden" name="appointmentID" id="appointmentID3">
                    <script>document.getElementById('appointmentID3').value = window.getURLParameter('id');</script>
                    <button type="submit" th:href="@{/delete}" id="deleteButton" class="btn-basic">DELETE APPOINTMENT
                    </button>
                </form>
                <br>
                <form>
                    <button type="button"
                            th:onclick="'javascript:buttonClicked()'"
                            id="editButton" class="btn-basic">EDIT APPOINTMENT
                    </button>
                </form>
            </div>

            <h1>Scheme</h1>
            <table>
                <thead>
                <th>Exercise</th>
                <th>Repetitions</th>
                </thead>

                <tbody>
                <tr th:each="exercise : ${exercises}">
                    <td th:text="${exercise.name}"></td>
                    <td th:text="${exercise.repetitions}"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>