<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="appointmentScript.js"></script>
    <title>Workout coach</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content" th:action="@{/appointmentPage/?id=${param.id}}" method="GET">
        <div th:if="${status}=='failed'">
            <div th:text="${reason}"></div>
        </div>
    </section>
    <div th:if="${appointments!=null}">
        <section class="content" th:method="GET">
            <h1>Appointment</h1>
            <table>
                <thead>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Gym name</th>
                <th>Scheme</th>
                <th>Is Paid</th>
                <th>Is Cancelled</th>
                </thead>

                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td th:text="${#temporals.format(appointment.startDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(appointment.endDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${appointment.client.name}"></td>
                    <td th:text="${appointment.client.surname}"></td>
                    <td th:text="${appointment.client.gymName}"></td>
                    <td th:text="${appointment.scheme.title}"></td>
                    <td th:text="${appointment.payment.isPaid}"></td>
                    <td th:text="${appointment.isCancelled}"></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${!appointments.isCancelled}">
                <form th:action="@{/appointmentPage/cancel}" method="post">
                    <input type="hidden" name="appointmentID" id="appointmentID">
                    <script>document.getElementById('appointmentID').value = window.getURLParameter('id');</script>
                    <button type="submit" th:href="@{/cancel}" id="cancelButton" class="btn-basic">CANCEL APPOINTMENT
                    </button>
                </form>
            </div>

            <div th:if="${appointments.isCancelled}">
                <form th:action="@{/appointmentPage/active}" method="post">
                    <input type="hidden" name="appointmentID" id="appointmentID2">
                    <script>document.getElementById('appointmentID2').value = window.getURLParameter('id');</script>
                    <button type="submit" th:href="@{/cancel}" id="activeButton" class="btn-basic">ACTIVATE
                        APPOINTMENT
                    </button>
                </form>
            </div>
            <h1>Scheme</h1>
            <table>
                <thead>
                <th>Exercise</th>
                <th>Repetitions</th>
                </thead>

                <tbody>
                <tr th:each="exercise : ${exercises}">
                    <td th:text="${exercise.name}"></td>
                    <td th:text="${exercise.repetitions}"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>