<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">


<nav>
    <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
    <a th:href="@{/home}" class="nav-element">Timetable</a>
    <a th:href="@{/clientList}" class="nav-element">Client List</a>
    <a th:href="@{/payments}" class="nav-element">Payments</a>
    <a th:href="@{/settings}" class="nav-element">Settings</a>
    <form th:action="@{/logout}" method="post">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content" th:if="${user}!=null">
    <h2>Change password</h2>
    <br>

    <form th:action="@{/settings/changePassword}" method="post">
        Current password:
        <div><input type="password" class="input-field" name="currentPassword" placeholder="Password"/></div>
        New password:
        <div><input type="password" class="input-field" name="newPassword" placeholder="New password"/></div>
        Confirm new password:
        <div><input type="password" class="input-field" name="confirmNewPassword" placeholder="Confirm new password"/></div>
        <br>
        <div><input type="hidden" class="input-field" name="email" th:value="${user.email}"/></div>
        <button type="submit" class="btn-login btn-basic">CONFIRM</button>
    </form>
</section>
</body>
</html>