<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Client Profile</title>
</head>
<body>
    <section th:action="@{/clientProfile/?id=${param.id}}" method="GET">
        <section>
            <div th:if="${error}=='incorrectIDError'">
                Client ID is incorrect!
            </div>
            <div th:if="${error}=='noClientError'">
                Client not found!
            </div>
        </section>
        <section th:if="${client}!=null">
            <h1>Hi I'm</h1>
            <div th:text="${client.name} +' '+ ${client.surname}"></div>
        </section>
</body>
</section>
</html>