<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Client Profile</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content" th:action="@{/clientProfile/?id=${param.id}}" method="GET">
        <section name="errors">
            <div th:if="${error}=='incorrectIDError'">
                Client ID is incorrect!
            </div>
            <div th:if="${error}=='noClientError'">
                Client not found!
            </div>

            <div th:if="${error}=='archivingError'">
                Error during archiving
            </div>

            <div th:if="${error}=='activationError'">
                Error during activation
            </div>

        </section>

        <section th:if="${client}!=null">
            <h1>Hi I'm</h1>
            <div th:text="${client.name} +' '+ ${client.surname}"></div>
        </section>

        <br>

        <div th:if="${isActive}==true">
            <br/>

            <a th:href="@{/addAppointment(id=${param.id})}" style="text-decoration: none">
                <button class="btn-basic">SET AN APPOINTMENT</button>
            </a>

            <br/>
            <form th:action="@{/clientProfile/makeArchived}" method="post">
                <input type="hidden" name="clientID" id="clientID">
                <script>
                    function GetURLParameter(sParam) {

                        var sPageURL = window.location.search.substring(1);
                        var sURLVariables = sPageURL.split('&');
                        for (var i = 0; i < sURLVariables.length; i++) {
                            var sParameterName = sURLVariables[i].split('=');
                            if (sParameterName[0] == sParam) {
                                return sParameterName[1];
                            }
                        }
                    }

                    document.getElementById('clientID').value = window.GetURLParameter('id');
                </script>
                <button type="submit" th:href="@{/makeArchived}" class="btn-basic">ARCHIVE</button>
            </form>

        </div>

        <div th:if="${isActive}==false">
            <br/>
            <form th:action="@{/clientProfile/makeActive}" method="post">
                <input type="hidden" name="clientID" id="clientID">
                <script>
                    function GetURLParameter(sParam) {

                        var sPageURL = window.location.search.substring(1);
                        var sURLVariables = sPageURL.split('&');
                        for (var i = 0; i < sURLVariables.length; i++) {
                            var sParameterName = sURLVariables[i].split('=');
                            if (sParameterName[0] == sParam) {
                                return sParameterName[1];
                            }
                        }
                    }

                    document.getElementById('clientID').value = window.GetURLParameter('id');
                </script>
                <button type="submit" th:href="@{/makeActive}" class="btn-basic">MAKE ACTIVE</button>

            </form>

        </div>

        <div th:if="${activationSuccess}==true">
            <br>
            Client activated!
            <br><br>
        </div>

        <div th:if="${archivingSuccess}==true">
            <br>
            Client archived!
            <br><br>
        </div>

    </section>
</body>
</html>