<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="/clientProfileScript.js"></script>
    <title>Client Profile</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content" th:action="@{/clientProfile/?id=${param.id}}" method="GET">
        <div th:if="${status}=='failed'">
            <div th:text="${reason}"></div>
        </div>
        <div th:if="${error}=='failed'">
            <div th:text="${reason}"></div>
        </div>

        <section th:if="${client}!=null">
            <h2>Client profile</h2>
            <div th:if="${param.edit}==null or ${param.edit[0]}=='false'">
                <table>
                    <thead>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Goal</th>
                    <th>Goal value</th>
                    <th>Health condition</th>
                    <th>Phone number</th>
                    <th>Gym name</th>
                    </thead>

                    <tbody>
                    <td style="text-align: center" th:text="${client.name}"></td>
                    <td style="text-align: center" th:text="${client.surname}"></td>
                    <td style="text-align: center" th:text="${client.goal}"></td>
                    <td style="text-align: center" th:text="${client.goalValue}"></td>
                    <td style="text-align: center" th:text="${client.healthCondition}"></td>
                    <td style="text-align: center" th:text="${client.phoneNumber}"></td>
                    <td style="text-align: center" th:text="${client.gymName}"></td>
                    </tbody>
                </table>

                <br><br>
                <button type="button" id="editButton" th:onclick="'javascript:buttonClicked()'" class="btn-basic">EDIT
                    CLIENT DETAILS
                </button>
            </div>

            <div th:if="${param.edit}!=null and ${param.edit[0]}=='true'">
                <form th:action="@{/clientProfile/edit}" method="POST">
                    <table>
                        <thead>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Goal</th>
                        <th>Goal value</th>
                        <th>Health condition</th>
                        <th>Phone number</th>
                        <th>Gym name</th>
                        </thead>

                        <tbody>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.surname}"></td>
                        <td><input type="text" name="goal" id="goal" class="input-field-small"
                                   th:value="${client.goal}"></td>
                        <td style="text-align: center" th:text="${client.goalValue}"></td>
                        <td><input type="text" name="healthCondition" id="healthCondition" class="input-field-small"
                                   th:value="${client.healthCondition}"></td>
                        <td><input type="text" name="phoneNumber" id="phoneNumber" class="input-field-small"
                                   th:value="${client.phoneNumber}"></td>
                        <td><input type="text" name="gymName" id="gymName" class="input-field-small"
                                   th:value="${client.gymName}">
                        </td>
                        </tbody>
                    </table>

                    <br><br>
                    <input type="hidden" name="clientID" th:value="${param.id}">
                    <button type="submit" th:href="@{/clientProfile/edit}" id="submitButton" class="btn-basic"> SUBMIT
                    </button>
                </form>
            </div>
        </section>

        <br>

        <button type="button" class="btn-basic"
                th:onclick="'javascript:toggleDisplayTrainingSettings(' + ${client.id} + ');'">TRAINING OPTIONS
        </button>

        <div th:if="${isActive}==true">
            <br>
            <a th:href="@{/addAppointment(id=${param.id})}" style="text-decoration: none">
                <button class="btn-basic">SET AN APPOINTMENT</button>
            </a>
            <br>
            <form th:action="@{/clientProfile/makeArchived}" method="post">
                <input type="hidden" name="clientID" th:value="${param.id}">
                <button type="submit" th:href="@{/makeArchived}" class="btn-basic">ARCHIVE</button>
            </form>

        </div>

        <div th:if="${isActive}==false">
            <br/>
            <form th:action="@{/clientProfile/makeActive}" method="post">
                <input type="hidden" name="clientID" th:value="${param.id}">
                <script>document.getElementById('clientID').value = window.GetURLParameter('id');</script>
                <button type="submit" th:href="@{/makeActive}" class="btn-basic">MAKE ACTIVE</button>
            </form>

            <br/>
            <form th:action="@{/clientProfile/deleteClient}" method="post">
                <input type="hidden" name="clientID" th:value="${param.id}">
                <script>document.getElementById('clientID2').value = window.GetURLParameter('id');</script>
                <button type="submit" th:href="@{/deleteClient}" class="btn-basic">DELETE</button>
            </form>
        </div>

        <div th:if="${activationSuccess}==true">
            <br>Client activated!<br><br>
        </div>

        <div th:if="${archivingSuccess}==true">
            <br>Client archived!<br><br>
        </div>

        <h2>Client goal progress</h2>
        <input th:type="hidden" th:value="${client.goalValue}" id="hiddenProgress">
        <div id="myProgress" style="text-align: center">
            <div id="myBar"></div>
        </div>
        <br>

        <script>
            function move() {
                var maxVal = parseInt(document.getElementById("hiddenProgress").value);
                var elem = document.getElementById("myBar");
                var width = -1;
                var id = setInterval(frame, 10);

                function frame() {
                    if (width >= maxVal) {
                        clearInterval(id);
                    } else {
                        width++;
                        elem.style.width = width + '%';
                    }
                }
            }
            move();
        </script>

        <form th:action="@{/clientProfile/progress}" method="post">
            <input th:type="number" name="goalValue" id="goalValue" class="input-field-xs" placeholder="Insert value">
            <input type="hidden" name="clientID" id="clientID3">
            <script>document.getElementById('clientID3').value = window.getURLParameter('id');</script>
            <button type="submit" th:href="@{/progress}" class="btn-basic">MOVE</button>
        </form>

    </section>
</body>
</html>