<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">
    <div class="inside-content-box">
        <a th:href="@{/home}"><img src="/logo.svg" class="logo center-horizontal" alt="workout coach" height="250" width="450"></a>

        <form th:action="@{/forgot}" method="post">
            <div><input type="email" class="input-field center-horizontal" placeholder="E-mail address" name="email"/></div>

            <div th:if="${errorUser}" class="login-info">
                We haven't found an account for that e-mail address
            </div>
            <div th:if="${successEmail}" class="login-info">
                Email sent!
            </div>

            <button type="submit" class="btn-login btn-basic center-horizontal">RESET PASSWORD</button>
        </form>
    </div>
</body>
</html>