<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="body">
    <div th:if="${param.error}">
        Invalid email and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/forgot}" method="post">
        <div><label> E-mail address : <input type="email" name="email"/> </label></div>
        <div><input type="submit" value="Reset Password"/></div>

    </form>
</body>
</html>