<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="/timetableScript.js"></script>
    <title>Timetable</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    </section>

    <section class="content" th:method="GET">
        <h1>Incoming appointments
            <a th:text="${startingDate}"></a>
            <a> - </a>
            <a th:text="${endingDate}"></a>
        </h1>

        <div th:if="${showCancelled} == false">
            <span style="font-size: medium; "><b>Show cancelled</b></span>
            <input type="checkbox" class="next-week" name="repeat"
                   th:onchange="'javascript:toggleDisplayArchived()'"/>
        </div>

        <div th:if="${showCancelled} == true">
            <span style="font-size: medium; "><b>Show cancelled</b></span>
            <input type="checkbox" class="next-week" name="repeat" th:onchange="'javascript:toggleDisplayArchived()'"
                   checked/>
        </div>
        <br>

        <form class="home-table">
            <form method="get">
                <button type="button" class="btn-basic previous-week"
                        th:onclick="'java:buttonClicked(-1);'">SHOW PREVIOUS WEEK
                </button>
                <button type="button" class="btn-basic next-week"
                        th:onclick="'java:buttonClicked(1);'">SHOW NEXT WEEK
                </button>
            </form>
            <br>

            <table>
                <thead>
                <th>Starting date</th>
                <th>End date</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Gym name</th>
                </thead>

                <tbody>
                <tr th:each="appointment : ${timetable}"
                    th:onclick="'javascript:rowClicked(\'' + ${appointment.id} + '\');'">
                    <td th:text="${#temporals.format(appointment.startDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(appointment.endDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${appointment.client.name}"></td>
                    <td th:text="${appointment.client.surname}"></td>
                    <td th:text="${appointment.client.gymName}"></td>
                </tr>
                </tbody>
            </table>
        </form>
        <div th:if="${deleteSuccess}==true">
            <br>
            Appointment deleted!
            <br><br>
        </div>
    </section>
    <script src="built/bundle.js"></script>
</body>
</html>