<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Workout coach</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="front">
    <section class="inside-content-box">
        <a th:href="@{/index}"><img src="logo.svg" class="logo" alt="workout coach" height="250" width="450"></a>

        <form id="loginForm" th:action="@{/home}" method="post">
            <div>
                <input type="email" class="input-field" value="" placeholder="username" id="username" name="username">
            </div>
            <div>
                <input type="password" class="input-field" value="" placeholder="password" id="password"
                       name="password">
            </div>
            <button type="submit" th:href="@{/index}" class="btn">LOGIN</button>
        </form>

        <div class="login-info">
            <div th:if="${param.error}">
                Invalid email or password
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out
            </div>
            <div th:if="${param.register}" class="alert alert-success">
                You have created new account
            </div>
            <div th:if="${passwordChanged}" class="alert alert-success">
                You have successfully reset your password.  You may now login.
            </div>
        </div>

        <section class="register-forgot-box register-forgot-strings">
            <a th:href="@{/register}" class="register-forgot-strings" style="float: left;">Register</a>
            <a th:href="@{/forgot}" class="register-forgot-strings" style="float: right">Forgot password?</a>
        </section>
    </section>
</body>
</html>