<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Workout coach</title>
</head>
<body>
    <div class="side-nav">
        <a th:href="@{/index}" class="side-nav-element">Home</a>
        <a th:href="@{/timeTable}" class="side-nav-element">Timetable Page</a>
        <a th:href="@{/clientList}" class="side-nav-element">Client List</a>
    </div>

    <section class="content">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </section>
    <script src="built/bundle.js"></script>
</body>
</html>