<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="body">
    <div th:if="${param.error}">
        Invalid email and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div th:if="${success}==true">
        You have created new account!
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> E-mail address : <input type="email" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <form th:action="@{/register}" method="post">
        <div><input type="submit" value="Register"/></div>
    </form>
</body>
</html>