<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Payments</title>
</head>
<body>
    <nav>
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="50" width="125"></a>
        <a th:href="@{/home}" class="nav-element">Timetable</a>
        <a th:href="@{/clientList}" class="nav-element">Client List</a>
        <a th:href="@{/payments}" class="nav-element">Payments</a>
        <a th:href="@{/settings}" class="nav-element">Settings</a>
        <form th:action="@{/logout}" method="post">
            <input class="nav-element" type="submit" value="Log out"/>
        </form>
    </nav>

    <section class="content" th:method="GET">
        <h1>Payments</h1>

        <table>
            <thead>
                <th>Name</th>
                <th>Surname</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Payment Date</th>
            </thead>

            <tbody>
                <tr th:each="payment : ${payments}" th:onclick="'javascript:rowClicked(\'' + ${payment.id} + '\');'">

                    <td th:text="${payment.appointment.client.name}"></td>
                    <td th:text="${payment.appointment.client.surname}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.isPaid()}"></td>
                    <td th:text="${payment.paymentDate}"></td>
                </tr>
            </tbody>
        </table>

        <br>
    </section>
</body>
</html>