<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">
    <section class="inside-content-box" style="top:45%">
        <a th:href="@{/home}"><img src="logo.svg" class="logo" alt="workout coach" height="250" width="450"></a>

        <form th:action="@{/register}" method="post">
            <div><input type="email" class="input-field" name="email" placeholder="E-mail"/></div>
            <div><input type="password" class="input-field" name="password" placeholder="Password"/></div>
            <div><input type="password" class="input-field" name="password2" placeholder="Confirm password"/></div>
            <div><input type="text" class="input-field" name="name" placeholder="Name"/></div>
            <div><input type="text" class="input-field" name="surname" placeholder="Surname"/></div>
            <button type="submit" class="btn-login btn-basic">CREATE ACCOUNT</button>
        </form>

        <section class="login-info">
            <div th:if="${error}=='dataError'">
                Incorrect data!
            </div>
            <div th:if="${error}=='emailError'">
                Email is already in use!
            </div>
            <div th:if="${error}=='passwordError'">
                Passwords aren't identical!
            </div>
        </section>
    </section>
</body>
</html>