<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">
    <section class="inside-content-box" style="top:45%">
        <a th:href="@{/home}"><img src="/logo.svg" class="logo" alt="workout coach" height="250" width="450"></a>

        <form th:action="@{/register}" method="post">
            <div><input type="email" class="input-field center-horizontal" name="email" placeholder="E-mail" required/></div>
            <div><input type="password" class="input-field center-horizontal" name="password" placeholder="Password" required/>
            </div>
            <div>
                <input type="password" class="input-field center-horizontal" name="password2" placeholder="Confirm password" required/>
            </div>
            <div><input type="text" class="input-field center-horizontal" name="name" placeholder="Name" required/></div>
            <div><input type="text" class="input-field center-horizontal" name="surname" placeholder="Surname" required/></div>
            <div>
                <input type="number" class="input-field center-horizontal" name="hourlyRate" placeholder="Hourly rate" min="0"/>
            </div>
            <button type="submit" class="btn-login btn-basic center-horizontal">REGISTER</button>
        </form>

        <section class="login-info">
            <div th:if="${error}=='dataError'">
                Incorrect data!
            </div>
            <div th:if="${error}=='emailError'">
                Email is already in use!
            </div>
            <div th:if="${error}=='passwordError'">
                Passwords aren't identical!
            </div>
            <div th:if="${error}=='hourlyRateError'">
                Enter positive number!
            </div>
            <div th:if="${error}=='databaseError'">
                Try again!
            </div>
        </section>
    </section>
</body>
</html>