<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">
    <div class="inside-content-box">
        <a th:href="@{/index}"><img src="logo.svg" class="logo" alt="workout coach" height="250" width="450"></a>

        <form th:action="@{/reset}" method="post">
            <div><input type="password" class="input-field" placeholder="Password" name="password"/></div>
            <div><input type="password" class="input-field" placeholder="Confirm password" name="confirm"/></div>
            <div><input type="hidden" name="token" id="token">
                <script>
                    function GetURLParameter(sParam) {

                        var sPageURL = window.location.search.substring(1);
                        var sURLVariables = sPageURL.split('&');
                        for (var i = 0; i < sURLVariables.length; i++) {
                            var sParameterName = sURLVariables[i].split('=');
                            if (sParameterName[0] == sParam) {
                                return sParameterName[1];
                            }
                        }
                    }
                    document.getElementById('token').value = window.GetURLParameter('token')
                </script>
            </div>
            <div class="login-info">
                <div th:if="${errorUser}">
                    Couldn't find such user!
                </div>
                <div th:if="${errorTokenLost}">
                    Token was lost!
                </div>
                <div th:if="${errorDifferentPasswords}">
                    Passwords do not match!
                </div>
            </div>
            <button type="submit" class="btn-login btn-basic">RESET PASSWORD</button>
        </form>
    </div>


</body>
</html>