<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Time Table</title>
</head>
<body>
    <div class="side-nav">
        <a th:href="@{/index}" class="side-nav-element">Home</a>
        <a th:href="@{/timeTable}" class="side-nav-element">Timetable Page</a>
        <a th:href="@{/clientList}" class="side-nav-element">Client List</a>
    </div>

    <section class="content">
        <h1>Hi, I'm a timetable!</h1>
    </section>
</body>
</html>